Config(
  x: Fraction(0.5),
  y: Fraction(0.3),
  width: Fraction(0.3),
  height: Absolute(0),
  show_results_immediately: true,
  hide_results_by_default: false,
  hide_plugin_info: true,
  close_on_click: true,
  hide_icons: false,
  ignore_exclusive_zones: true,
  layer: Overlay,
  vertical_offset: Constant(0),
  plugins: [
    "libapplications.so",
    "libshell.so",
    "libniri_focus.so",
    "librink.so",
    "libsymbols.so",
    "libwebsearch.so",
    "libkidex.so",
    "libnix_run.so",
    "libdictionary.so",
    "libtranslate.so",
    "librandr.so",
    "libactions.so",
    "libstdin.so",
  ],
)
